<header class="bg-gray-500">
    <nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div
        class="flex w-full items-center justify-between border-b border-zinc-700 py-6 lg:border-none"
      >
        <div class="flex items-center">
          <a routerLink="/workspace" class="font-semibold text-red-300"> < Back </a>
        </div>
        <div class="flex gap-4">
          <input
            *ngIf="boardInfo"
            (ngModelChange)="titleChanged = true"
            class="ml-10 space-x-4 bg-red-300 font-bold text-white"
            [(ngModel)]="boardInfo.title"
          />
          <button class="font-medium" *ngIf="titleChanged" (click)="saveBoardTitle()">Save</button>
        </div>
  
        <div class="flex">
          <button class="text-small font-medium text-red-300" (click)="deleteBoard()">
            Delete board
          </button>
        </div>
      </div>
    </nav>
  </header>



  <main class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
      <!-- Her liste için cdkDropList oluştur -->
      <div *ngFor="let list of lists" cdkDropList [cdkDropListData]="listCards[list.id]" (cdkDropListDropped)="drop($event)" class="min-h-52 relative h-auto rounded bg-red-300 py-4 px-4 text-sm font-semibold">
        <!-- Liste başlığı ve düzenleme butonları -->
        <div class="flex gap-2 pb-4">
          <p *ngIf="!editTitle[list.id]" (click)="editingTitle(list, true)" class="hover:cursor-pointer">
            {{ list.title }}
          </p>
          <input *ngIf="editTitle[list.id]" [(ngModel)]="list.title" class="block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-red-200 focus:outline-none focus:ring-slate-950 sm:text-sm" />
          <button *ngIf="editTitle[list.id]" (click)="updateListTitle(list)" class="font-medium">Save</button>
        </div>
  
        <!-- Liste içindeki kartlar için cdkDrag -->
        <div *ngFor="let card of listCards[list.id]" cdkDrag class="flex flex-col items-center gap-2">
          <div class="flex h-auto w-full flex-col gap-2 hover:cursor-pointer" (click)="editingCard(card, true)">         
            <p *ngIf="!editCard[card.id]" class="h-10 bg-white py-2 px-2">{{ card.title }}</p>
            <input *ngIf="editCard[card.id]" [(ngModel)]="card.title" class="block rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-emerald-500 focus:outline-none focus:ring-emerald-500 sm:text-sm"/>          
            <div class="align-items-center flex justify-between">
              <button *ngIf="editCard[card.id]" (click)="updateCard(card)" class="font-medium">Update</button>
              <button *ngIf="editCard[card.id]" (click)="deleteCard(card)" class="font-medium text-red-600">Delete</button>
            </div>
          </div>
        </div>
        <div (click)="addCard(list)" class="pt-8 text-gray-500 hover:cursor-pointer">+ Add a card</div>
      </div>
      <div (click)="addList()" class="relative h-16 rounded bg-red-300 py-4 px-4 text-lg font-semibold hover:cursor-pointer">
        + New list
      </div>
    </div>

  

  <!-- Davet bölümü... -->
  <div class="flex items-center gap-4 py-12">
    <span class="block text-3xl font-extrabold text-neutral-500">Invite</span>
    <input [(ngModel)]="addUserEmail" placeholder="john@doe.com" class="block rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-red-200 focus:outline-none focus:ring-red-300 sm:text-sm" />
    <button (click)="addUser()" class="inline-flex items-center rounded border border-transparent bg-neutral-500 px-2.5 py-1.5 text-xs font-medium text-white shadow-sm hover:bg-red-300 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-offset-2">Invite</button>
  </div>
</main>